html, 
body {
  width: 100%;
  height: 100%;
  overflow: none;
}

#root {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: monospace;
}

.start-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background: url("assets/images/doom.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 30px;
}

.start-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 25px;

  text-align: center;
  max-width: 700px;
  
}

.doom-logo {
  width: clamp(220px, 60vw, 520px);
  height: auto;

  max-height: 40vh;

  object-fit: contain;

  filter: drop-shadow(0 0 25px rgba(255, 0, 0, 0.5));

  margin-bottom: 40%; 
}

.press-start {
  user-select: none;
  font-family: "DoomFont", sans-serif;
  font-size: clamp (1.4rem, 3vw, 2.5rem);
  color: #ff0000;
  letter-spacing: 4px;

  background: none;
  border: none;

  text-shadow: 0 0 5px #ff0000, 0 0 10px #aa0000, 0 0 20px #550000;

  cursor: pointer;

  animation: blink 1s infinite;
  transition: transform 0.1.5s ease, text-shadow 0.3s ease;
}

.press-start:hover {
  transform:  scale(1.08);
  color: #ffcc00;
  text-shadow: 0 0 8px #ff4444, 0 0 18px #ff0000, 0 0 335px #ff0000;
}

.hint {
  margin-top: 25px;
  font-size: 1rem;
  opacity: 07;
  color: white;
}

.title {
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 40px;
  text-shadow: 0 0 10px red;
}

@keyframes blink {
  0%,50% {
    opacity: 1;
  }
  51%,100% {
    opacity: 0;
  }
  
}

.menu-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 35px;
  text-align: center;

  background: url("assets/images/doom.png");
  background-size: cover;
  background-position: center;

  padding: 40px 20px;
}

.menu-title {
  font-size: clamp(2rem, 5vw, 3.2rem);
  margin-top: 90px;
  margin-bottom: 10px;

  font-family: "DoomFont", monospace;
  text-transform: uppercase;
  letter-spacing: 4px;

  color: yellow;
  text-shadow: 2px 2px 0px black, 0 0 10px rgba(255, 255, 255, 0.8), 0 0 25px rgba(255, 255, 255, 0.6);
  
  animation: flicker 2.5s infinite;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.85;
  }
  70%{
    opacity: 0.95;
  }
  
}

.menu-list {
  list-style: none;
  padding: 0;
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  gap: 18px;

  width: min(420px, 90%);
}

.menu-item {
  font-size: clamp(1.4rem, 3vw, 1.7rem);
  cursor: pointer;

  padding: 14px 20px;
  border-radius: 12px;

  user-select: none;
  transition:  all 0.2s ease;

  color: rgba(255, 255, 255, 0.75);
  text-shadow: 2px 2px 8px black;
}

.menu-item:hover {
  color: white;
  transform: scale(1.06);
}

.menu-item.active {
  color: yellow;
  text-shadow: 3px 3px 12px yellow, 0 0 25px orange;
  transform: scale(1.08);

  font-weight: bold;
}

.menu-item.active::before{
  content: "▶";
  margin-right: 14px;
  color: yellow;
  font-size: 1.3rem;
  text-shadow: 0 0 8px red;
  animation: arrowBlink 0.6s infinite alternate;
}

.menu-item.active::after {
  content: "◀";
  margin-left: 14px;
  color: yellow;
  font-size: 1.3rem;
  text-shadow: 0 0 8px red;
  animation: arrowBlink 0.6s infinite alternate;
}

.menu-hint {
  font-size: 0.95rem;
  opacity: 0.6;
  margin-top: 10px;
  color: white;
}

@keyframes arrowBlink {
  from {
    opacity: 0.3;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.25);
  }
  
}

.door-transition {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  pointer-events: none;
  overflow: hidden;

}

.door {
  width: 50%;
  height: 100%;
  background: url("assets/images/doom_door.png");
  background-repeat: no-repeat;
  transition: transform 1s ease-in-out;
}

.door.left{
  background-position: left center;
  transform: translateX(-100%);
}

.door.right{
  background-position: right center;
  transform: translateX(100%);
}

.door-transition.closing .door.left{
  transform: translateX(0);
}

.door-transition.closing .door.right {
  transform: translateX(0);
}

.door-transition.open .door.left {
  transform: translateX(-100%);
}

.door-transition.open .door.right {
  transform: translateX(100%);
}

.about-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background: url("assets/images/doom.png");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;

  padding: 60px 20px;

  text-align: center;
}

.about-title {
  font-size: clamp(2.2rem, 5vw,3.2rem);

  color: #ffcc00;
  text-shadow: 2px 2px 0px black, 0 0 10px rgba(255, 255, 255, 0.8), 0 0 25px rgba(255, 255, 255, 0.6);

  font-family: "DoomFont", monospace;

  margin-bottom: 50px;
  letter-spacing: 4px;
}

.about-card {
  width: min(850px, 95%);
  background: rgba(0, 0, 0, 0.65);

  border-radius: 20px;
  padding: 40px;

  box-shadow: 0 0 30px black;
}

.about-card.horizontal {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.about-photo {
  width: 280px;
  height: 200px;

  border-radius: 14px;
  border: 3px solid red;

  object-fit: cover;

  image-rendering: pixelated;
  filter: grayscale(15%) contrast(1.3);

  box-shadow: 0 0 25px black; 
}

.about-photo-wrapper {
flex-shrink: 0;
}

.about-info {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.6;

  text-shadow: 2px 2px 10px black;
  color: rgba(255, 255, 255, 0.85);
  padding: 10px;
}

.about-info span {
  color: #ff0000;
  font-weight: bold;
}

.about-info p {
  margin-bottom: 18px;
}

.about-back {
  margin-top:  40px;

  font-family: "DoomFont", sans-serif;
  font-size: 1.4rem;

  color: #ff0000;
  cursor: pointer;
  letter-spacing: 4px;

  background: none;
  border: none;

  text-shadow: 0 0 5px #ff0000, 0 0 10px #aa0000, 0 0 20px #550000;

  animation: blink 1s infinite;
  transition: transform 0.1.5s ease, text-shadow 0.3s ease;
}

.about-back:hover {
  transform:  scale(1.08);
  color: #ffcc00;
  text-shadow: 0 0 8px #ff4444, 0 0 18px #ff0000, 0 0 335px #ff0000;
}

.about-hint {
  margin-top: 18px;
  font-size: 0.85rem;
  opacity: 0.5;
  color: white;
}

.doom-stats {
  margin-top: 18px;
  width: 250px;
  padding: 16px;

  background: rgba(15, 0, 0, 0.88);
  border: 2px solid #ff2222;
  border-radius: 14px;

  font-family: "DoomFont", monospace;
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.85);

  text-align: left;
  box-shadow: 0 0 18px black;
}

.doom-stats p {
  margin: 6px 0;
}

.doom-stats span {
  color: #ff4444;
  font-weight: bold;
  letter-spacing: 1px;
}

.stat-label {
  font-size: 0.75rem;
  margin-bottom: 4px;
  color: rgba(255, 255, 255, 0.7);
}

.bar-bg {
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  overflow: hidden;
}

.bar-fill {
  height: 100%;
  width: 0;
  border-radius: 6px;
  transition: width 1.5s ease;
}

.bar-fill.exp {
  width: 75%;
  background: linear-gradient(to right, #ff0000, #ff9900, #ffcc00);
}

.bar-fill.skill {
  width: 90%;
  background: linear-gradient(to right, #ff0000, #ff9900, #ffcc00, yellow);
}

.arsenal-row {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
}

.arsenal-item {
  font-size: 1.3rem;
  filter: grayscale(20%) contrast(120%);
  text-shadow: 2px 2px 6px black;

  transition: 0.2s ease;
}

.arsenal-item:hover {
  transform: scale(1.25);
}

.arsenal-text {
  margin-top: 6px;
  font-size: 0.75rem;
  opacity: 0.75;
  color: rgba(255, 255, 255, 0.75);
}

.tech-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background: url("assets/images/doom.png");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 80px 20px;
  padding-bottom: 140px;
}

.tech-title {
  font-family: "DoomFont", monospace;
  font-size: clamp(2rem, 5vw, 3.2rem);

  color: #ffcc00;
  text-shadow: 3px 3px 0 black;

  margin-bottom: 40px;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 25px;

  width: min(950px, 95%);
}

.tech-card {
  background: rgba(15, 0, 0, 0.75);
  border: 2px solid transparent;
  border-radius: 14px;

  padding: 15px;

  text-align: center;

  cursor: pointer;
  transition: 0.2s ease;
}

.tech-card img {
  width: 35px;
  height: 35px;

  image-rendering: pixelated;

  filter: brightness(0) saturate(100%) invert(15%) sepia(100%)
          saturate(5000%) hue-rotate(-10deg);
  
  transition: transform 0.25s ease;
}

.tech-card p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: white;
}

.tech-level {
  font-size: 0.75rem;
  color: #ff4444;
  opacity: 0.8;
}

.tech-card.active {
  border: 2px solid #ff0000;
  transform: scale(1.08);

  box-shadow: 0 0 15px red;
}

.tech-card.active img {
  transform: scale(1.3);
  filter: brightness(1.4) invert(95%) sepia(90%) saturate(6000%) hue-rotate(5deg) 
          brightness(1.2) drop-shadow(0 0 10px red);
}

.tech-back{
  margin-top:  50px;

  font-family: "DoomFont", sans-serif;
  font-size: 1.4rem;

  color: #ff0000;
  cursor: pointer;
  letter-spacing: 4px;

  background: none;
  border: none;

  text-shadow: 0 0 5px #ff0000, 0 0 10px #aa0000, 0 0 20px #550000;

  animation: blink 1s infinite;
  transition: transform 0.15s ease, text-shadow 0.3s ease;
  position: relative;
  z-index: 10;
}

.tech-back:hover {
  transform:  scale(1.08);
  color: #ffcc00;
  text-shadow: 0 0 8px #ff4444, 0 0 18px #ff0000, 0 0 335px #ff0000;
}

.tech-hint {
  margin-top: 28px;
  font-size: 0.85rem;
  position: absolute;
  text-align: center;
  width: 100%;

  opacity: 0.5;
  color: white;
  position: relative;
  z-index: 10;
}

.tech-overlay {
  position: fixed;
  inset: 0;
  background: rgba(15, 0, 0, 0.75);
  z-index: 2000;
}

.tech-panel.popup{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.7);

  width: min(420px, 90%);
  padding: 30px;
  
  background: rgba(20, 0, 0, 0.95);
  border: 2px solid #ff0000;
  border-radius: 18px;

  font-family: "DoomFont", monospace;
  color: white;

  box-shadow: 0 0 35px red;

  z-index: 3000;

  opacity: 0;
  animation: popupOpen 0.35s ease forwards;
  text-align: center;
  
}

@keyframes popupOpen {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }
  to {
    opacity: 1;
    transform:  translate(-50%, -50%) scale(1);
  }
}

.tech-panel h2 {
  font-size: 1rem;
  color: #ff0000;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.panel-level span {
  color: #ffcc00;
}

.panel-desc {
  margin-top: 15px;
  font-size: 0.75rem;
  opacity: 0.75;
  line-height: 1.4;
}

.tech-panel-icon img {
  width: 45px;
  height: 45px;

  image-rendering: pixelated;

  filter: brightness(0) saturate(100%) invert(15%) sepia(100%)
          saturate(5000%) hue-rotate(-10deg);
  
  transition: transform 0.25s ease;
}

.social-screen {
  height: 100vh;
  padding: 40px;
  overflow: hidden;

  background: black;
  color: red;
  font-family: "DoomFont", monospace;
}

.social-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
  text-shadow: 0 0 10px red;
}

.social-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  height: 70%;
}

.social-freq {
  border: 2px solid red;
  padding: 15px;
}

.freq-item {
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.15s;
}

.freq-item.active {
  background: red;
  color: #ffcc00;
  font-weight: bold;
}

.freq-code {
  display: block;
  font-size: 0.9rem;
  opacity: 0.7;
}

.freq-name {
  font-size: 1.2rem;
}

.social-terminal {
  border: 2px solid red;
  background: black;
  padding: 20px;
  overflow-y: auto;
}

.terminal-idle {
  opacity: 0.6;
}

.terminal-text {
  white-space: pre-wrap;
  font-size: 1.1rem;
  line-height: 1.5;
  color: red;
  text-shadow: 0 0 5px red;
}

.social-hint {
  position: absolute;
  width: 100%;
  margin-top: 18px;
  bottom: 20px;

  font-size: 0.85rem;
  text-align: center;
  opacity: 0.5;
  color: white;
  position: relative;
  z-index: 10;
}

.social-back{
  margin-top:  50px;
  position: absolute;
  text-align: center;
  font-family: "DoomFont", sans-serif;
  font-size: 1.4rem;

  color: #ff0000;
  cursor: pointer;
  letter-spacing: 4px;

  background: none;
  border: none;

  text-shadow: 0 0 5px #ff0000, 0 0 10px #aa0000, 0 0 20px #550000;

  animation: blink 1s infinite;
  transition: transform 0.15s ease, text-shadow 0.3s ease;
  position: relative;
  z-index: 10;
}

.social-back:hover {
  transform:  scale(1.08);
  color: #ffcc00;
  text-shadow: 0 0 8px #ff4444, 0 0 18px #ff0000, 0 0 335px #ff0000;
}

.crt-overlay {
  pointer-events: none;
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(to bottom, rgba(255, 0, 0, 0.05),
  rgba(0, 0, 0, 0.15) 2px,
  rgba(0, 0, 0, 0.25) 4px);
  animation: flicker 0.12s infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.15;
  } 50% {
    opacity: 0.25;
  } 100% {
    opacity: 0.18;
  }
}

.terminal-actions {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.cursor {
  color: red;
  font-weight: bold;
  text-shadow:  0 0 6px red;
}

.doom-btn {
  border: 2px solid red;
  background: black;
  color: red;
  padding: 10px 15px;
  font-family: "DoomFont", monospace;
  cursor: pointer;
  transition: 0.15s;
}

.doom-btn:hover {
  color: #ffcc00;
  text-shadow: 0 0 8px red;
}

.copied-msg {
  margin-top: 15px;
  font-size: 1rem;
  color: #ffcc00;
  text-shadow: 0 0 8px red;
}

.doom-footer {
  font-family: "DoomFont", monospace;
  text-transform: uppercase;
  text-align: center;
  align-items: center;

  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);

  text-shadow: 2px 2px 6px black;
  letter-spacing: 1px;
}

.doom-footer span{
  color: red;
  text-shadow: 2px 2px 8px black;
}

/* ========================================= */
/*              RESPONSIVE                   */
/* ========================================= */
@media (max-width: 768px) {
  .hint,
  .menu-hint,
  .about-hint,
  .tech-hint,
  .social-hint {
    display: none;
  }
}

@media (max-width: 768px) {
  .about-card.horizontal {
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 20px;
    gap: 20px;
  }

  .about-photo {
    width: 100%;
    max-width: 280px;
    height: auto;
  }

  .doom-stats {
    width: 100%;
    max-width: 320px;
    text-align: left;
  }

  .about-info {
    width: 100%;
    text-align: center;
    font-size: 0.5rem;
    line-height: 1;
  }

  .about-title {
    display: none;
  }

  .about-back {
    position: absolute;
    bottom: 15px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .social-layout {
    display: flex !important;
    flex-direction: column;
    gap: 20px;
  }

  .social-freq {
    width: 100%;
  }

  .social-terminal {
    width: 100%;
    min-height: 280px;
    max-height: none;
  }

  .terminal-text {
    font-size: 0.8rem;
  }

  .social-back {
    font-size: 1rem;
    top: 15px;
  }
}

@media (max-width: 768){

}

@media (max-width: 768px) {
  .doom-footer {
    position: relative;
    background: url("assets/images/doom.png");
    
  }
}

@media (min-width: 1024px) {
  .doom-footer {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
  }
}